@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;500;600;700&display=swap');

:root {
  --white: rgba(255, 255, 255, 0.87);
  --white-dim: rgba(255, 255, 255, 0.75);
  --primary: #121421;
  --primary-light: #383a48;
  --primary-dark: #000000;
  --secondary: #36f1cd;
  --secondary-light: #7bffff;
  --secondary-dark: #00bd9c;
  --error: #ff6663;

  box-sizing: border-box;
}

*,
*::after,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Overpass Mono', monospace;
  line-height: 1.6;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: var(--white);
  background-color: var(--primary);
}

h1 {
  letter-spacing: 1.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
}

ul,
ol {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

blockquote {
  font-style: italic;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

a {
  color: var(--secondary);
  text-decoration: none;
  opacity: 0.87;
}

a:hover {
  opacity: 1;
}

/*
Thank you CSS tricks!
https://css-tricks.com/css-hover-effects-background-masks-3d/
*/
.text-link {
  --b: 0.1em; /* the thickness of the line */
  --c: var(--secondary); /* the color */
  color: var(--secondary);
  padding-block: var(--b);
  background: linear-gradient(var(--c) 50%, #000 0) 0%
      calc(100% - var(--_p, 0%)) / 100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p, 0%) / var(--_p, 0%) var(--b)
      no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.25s var(--_s, 0s) linear,
    background-size 0.25s calc(0.25s - var(--_s, 0s));
}

.text-link:hover {
  --_p: 100%;
  --_s: 0.3s;
}
