:root {
  --fresh-coral: #ff6663ff;
  --white: #fff;
  --fresh-blue: #39a0edff;
  --fresh-green: #36f1cdff;
  --dark: #121420;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: var(--white);
  background-color: var(--dark);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--fresh-blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
